
  .video {
    bottom: 0%;
    right: 0%;
    position: fixed;
      width: 110px; 
      height: 110px;
  }


  .endvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
